@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
    --main-color: #FF6000;
    --footer-color: #1D2B53;
    --bg-color: #f1f1f1;
    --card-etc-color: #FFE6C7;
    --others-color: #7E2553;
    --header-color: #FF004D;
    --hdr-txt-color: #fff;
    --bottom-bg-color: #F4B183;
    --other: #FAEF5D;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    color: var(--bg-color);
}
header .bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-color);
    color: var(--bg-color);
}
header .bottom ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
header .bottom ul li a {
    text-decoration: none;
    color: var(--hdr-txt-color);
}
header .bottom ul li a.active {
    background-color: #E21818;
}
.top .contact {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}