:root {
  --txt-color: rgb(0, 0, 0);
  --body-bg: #d1d1d1;
  --header-bg: #ffffff;
  --txt-hover-bg: #f0f0f0;

  --cog-color: #616161;
  --box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-bg);
}

.header {
  padding: 20px 10px;
  padding-bottom: 4rem;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--txt-color);
}

.header a, .dropdown {
  float: left;
  color: var(--txt-color);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header .header-right a:hover {
    background-color: var(--txt-hover-bg);
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}