body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.header {
    padding: 2rem;
}
select {
    background: none;
    color: white;
    border: none;
    padding: 10px;
}
select option {
    color: black;
    text-decoration: underline;
}
.navbar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 20px;
}
img {
    width: 60%;
    height: 110%;
    border-radius: 100%;
}
.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.grid {
    display: flex;
    justify-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: green;
    transition: .1s;
}
.card:hover {
    transition: .1s;
    background-color: greenyellow;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
    .navbar {
        display: block;
    }
}