/* Remove extra padding and margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styling navbar */
.navbar {
    display: flex;
    justify-content: center;
}
/* Background color */
body {
    background-color: darkslategray;
}
/* to align form in the middle */
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* styling form */
form {
    padding: 2rem;
    background-color: #f1f1f1;
    margin-top: 10rem;
    border: 1px solid #565656;
    border-radius: 20px;
}
/* styling input */
input {
    padding: 10px;
    border: 1px solid #a0a0a0;
    margin: 2px;
}
/* extra space */
label {
    margin-bottom: 6px;
}
/* styling button */
button {
    padding: 10px;
    border: none;
    background-color: cadetblue;
    color: #fff;
    margin-left: 4rem;
    margin-top: 1rem;
}