* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #3b3b3b;
    color: #fff;
}
html {
    scroll-behavior: smooth;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #505050;
}
header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    float: left;
}
span {
    color: chartreuse;
}
.active {
    background-color: rgb(72, 144, 0);
    padding: 14px;
    border-radius: 10px;
}
.icons i {
    padding: 10px;
    border-radius: 100%;
    color: #fff;
    background-color: #b0b0b0;
    font-size: 1.5rem;
}
.icons i:hover {
    background-color: #3b3b3b;
}
main {
    display: flex;
    justify-content: center;
    gap: 20rem;
    font-size: larger;
}
.top {
    padding: 20px
}
footer {
    background-color: #000;
    padding: 30px;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.message {
    padding: 2rem 0rem;
}
.contact {
    display: flex;
    justify-content: center;
}
/* styling form */
form {
    padding: 2rem;
    margin-top: 10rem;
    border-radius: 20px;
}
/* styling input */
input {
    padding: 10px;
    border: 1px solid #a0a0a0;
    margin: 2px;
}
/* extra space */
label {
    margin-bottom: 6px;
}
/* styling button */
button {
    padding: 10px;
    border: none;
    background-color: cadetblue;
    color: #fff;
    margin-left: 4rem;
    margin-top: 1rem;
}