@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans Georgian', sans-serif;
}

header {
    border-bottom: 1px solid #a8a8a8;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 6px 20rem; 
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-family: 'Noto Sans Georgian', sans-serif;
}

header nav ul .icon a img {
    border-right: 1px solid #a8a8a8;
    padding-right: 10px;
}