@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: #4a0d15;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: white;
    background-color: red;
    text-decoration: none;
    font-size: larger;
    padding: 10px;
    border-radius: 20px;
}
.bx {
    color: #ad0c22;
    font-size: 30px;
}
b {
    color: #ad0c22;
}
card-h4 h4, b{
    font-size: 26px;
    color: black;
    font-weight: bold;
}
h5 i {
    font-size: 30px;
}
h5 {
    font-size: larger;
    color: #2e2e2e;
    font-weight: 600;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 0;
}
.bx-low-vision, .bx-fingerprint, .bx-shape-circle {
    font-size: 40px;
}
.card span {
    color: #ad0c22;
    font-weight: 600;
    text-transform: uppercase;
}
.card h2 {
    color: black;
    text-transform: uppercase;
    margin-right: 5px;
}
.card .space {
    color: white;
}
.card .top {
    display: flex;
}
.card .top h2 {
    margin-top: 0;
    margin-right: 10px
}
.card p {
    font-size: 25px;
    font-weight: 700;
    color: #2e2e2e;
}
.card .arrow {
    color:#ad0c22;
}
.card .more {
    background-color: white;
    text-decoration: underline;
    font-size: larger;
    color: #ad0c22;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}
.read-more {
    padding: 10px;
    background: none;
    color: white;
    border: 2px solid white;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px;
}