@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form {
    border: 1px solid rgb(189, 189, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    padding: 20px;
}
form p {
    color: rgb(103, 103, 103);
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.top p {
    font-weight: 700;
}
.top a {
    color: #fff;
    background-color: rgb(38, 117, 253);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 5px 50px;
    border-radius: 10px;
}
.top a i {
    font-size: 1.5rem;
}
form .top img {
    width: 70%;
}
form input {
    padding: 10px 10%;
    border: 3px solid #f1f1f1;
}
.bottom a {
    text-decoration: none;
    color: rgb(0, 35, 108);
}
.bottom a, .bottom p {
    font-weight: 550;
}
button {
    background-color: lightskyblue;
    color: #fff;
    border: none;
    padding: 10px 140px;
    border-radius: 10px;
}
.login {
    border: 1px solid rgb(189, 189, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    padding: 20px;
}
.login p {
    color: #000;
    font-weight: 700;
}
.login a {
    color: rgb(62, 181, 255);
    text-decoration: none;
}