 nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 14px 16px;
    text-align: center;
    font-size: 18px;
    background-color: #ffd24d;
    float: left;
 }

 input {
   display: block;
   margin-left: 1100px;
}

 nav {
    display: block;
    margin-right: 20px;
 }

form {
    background-color: #ffd24d;
    padding: 14px 16px;
 }

.speciala {
    background-color: #f56642;
    color: white;
}

.speciala:hover {
    background-color: #fcab88;
    transition: 1s background-color linear;
}

nav a:hover {
    background-color:#fcf188 ;
    transition: 1s background-color linear;
}

.header {
    background-color: white;
}

h1 {
    padding: 20px;
}

.p {
    background-color: #380012;
    font-size: 15px;
    color: white;
    padding: 10px;
    margin-bottom: 0px;
}

article img {
    width: 270px;
    height: 244px;
}

article img:hover {
    transform: scale(1.1);
    transition: 0.1s linear;
}

article p {
    font-size: 20px;
}

article p:hover {
    text-decoration: underline;
}

article h4 {
    color: #232324;
}

article a {
    text-decoration: none;
    background-color: #fc5b1c;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    display: block;
    border-radius: 10px;
}

article {
    text-align: center;
    padding-left: 70px;
    margin: 20px;
}

section {
    flex-wrap: wrap;
    margin: 15px;
    display: flex;
}

article a:hover {
    transition: 0.2s background-color linear;
    background-color: #fc8c60;
}

section {
    font-family: 'Josefin Sans', sans-serif;
}

.h1 {
    font-family: 'Bagel Fat One', cursive;
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lilita One', cursive;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Signika', sans-serif;
    font-family: 'Tilt Warp', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

.up {
    position: fixed;
    top: 820px;
    width: 60px;
    background-color: #eb4034;
    font-size: 20px;
    text-align: center;
    color: #ffffdd;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}

body {
    position: absolute;
}

.up:hover {
    border: 2px solid black;
}

footer {
    background-color: #232324;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: white;
}

footer img {
    width: 15%;
    padding-left: 500px;
    padding: 20px;
}

.footertext {
    float: left;
    padding: 30px;
    font-size: 20px;
    padding-left: 160px;
}

.footertext2 {
    font-size: 18px;
    float: right;
    padding: 30px;
    padding-right: 160px;
}


    


