@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Rethink Sans', sans-serif;
    box-sizing: border-box; 
}

.header .header-right .bx-cart-alt {
    font-size: 25px;
}

.header .header-right .bxs-cog {
    color: darkslategray;
    font-size: 25px;
}

.header {
    overflow: hidden;
    padding: 20px 10px;
    border-bottom: 0.5px solid black;
}

.header a, span {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    color: black;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.grid {
  float: left;
}
