* {
    margin: 0;
    padding: 0;
}
.header {
    background-color: darkblue;
    color: white;
    padding: 20px;
    text-align: center;
    grid-area: header;
}
.hero {
    background-color: cornflowerblue;
    color: white;
    padding: 204px;
    text-align: center;
    grid-area: hero;
}
.menu {
    background-color: crimson;
    color: white;
    padding: 20px;
    text-align: center;
    grid-area: menu;
}
.main {
    background-color: darkslategray;
    color: white;
    padding: 200px;
    text-align: center;
    grid-area: main;
}
.banner {
    background-color: yellow;
    padding: 20px;
    text-align: center;
    grid-area: banner;
}
.image {
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
    grid-area: image;
}
.extra {
    background-color: aqua;
    padding: 20px;
    text-align: center;
    grid-area: extra;
}
/* .site {
    display: grid;

    grid-template-areas: 
        'header header menu menu menu menu',
        'hero hero hero hero hero hero',
        'main main main main image image',
        'main main main main extra extra',
        'banner banner banner banner banner banner'
    ;
} */
.site {
    display: grid;
    grid-template-areas: 
        'header header menu menu menu menu'
        'hero hero hero hero hero hero'
        'main main main main image image'
        'main main main main extra extra'
        'banner banner banner banner banner banner'
    ;
}

@media screen and (max-width: 1024px) {
    .site {
        grid-template-areas: 
            'header header header header header header'
            'hero hero hero hero hero hero'
            'menu menu main main main main'
            'menu menu banner banner banner banner'
            'menu menu extra extra extra image'
        ;
    }
    .hero {
        padding: 190px;
    }
    .main {
        padding: 177px;
    }
}

@media screen and (max-width: 800px) {
    .site {
        grid-template-areas: 
            'header header header header header header'
            'menu menu menu menu menu menu'
            'hero hero hero hero hero hero'
            'main main main main main main'
            'banner banner banner banner banner banner'
            'extra extra extra extra extra extra'
            'image image image image image image'
        ;
    }
    .hero {
        padding: 150px;
    }
    .main {
        padding: 127px;
    }
    .extra {
        padding: 40px;
    }
    .image {
        padding: 40px;
    }
}