@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&family=Roboto&display=swap');
:root {
    --main-color: #000;
    --body-bg: #fff;
    --border-color: #b0b0b0;
    --btm-nav-color: #3b3b3b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans Georgian', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* STYLING HEADER ELEMENS */
.header {
    display: block;
}
/* STYLING ICONS */
.top-nav ul .icon1 {
    width: 2rem;
}
.top-nav {
    padding: 0px 2rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--body-bg);
    border-bottom: 1px solid var(--border-color);
}
.top-nav ul, .bottom-nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    list-style: none;
}
.left, .right {
    margin: 1px;
    padding-left: 0 10px;
}
/* STYLING BOTTOM NAV */
.bottom-nav {
    margin: 6px 20px;
}
/* STYLING ICONS */
.icon1 {
    width: 5.2rem;
    filter: grayscale(100%);
    transition: .5s;
}
.icon1:hover {
    filter: grayscale(0%);
    transition: .5s;
}
.icon2 {
    width: 5rem;
    filter: grayscale(100%);
    transition: .5s;
}
.icon2:hover {
    filter: grayscale(0%);
    transition: .5s;
}
.icon3 {
    width: 4rem;
    filter: grayscale(100%);
    transition: .5s;
}
.icon3:hover {
    filter: grayscale(0%);
    transition: .5s; 
}
.header .bottom-nav button {
    color: var(--btm-nav-color);
    cursor: pointer;
}
.header .bottom-nav ul button:hover {
    color: #000;
    text-decoration: underline;
}
.bottom-ad {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 15px;
    border-top: 1px solid #b0b0b0;
}
/* STYLING SLIDER */
.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
}
/* STYLING DROPDOWN */
.dropbtn {
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    color: #000;
    background-color: #f1f1f1;
}
/* RESPONSIVE */
@media screen and (max-width: 500px) {
    .header .bottom nav ul.navbar {
        display: block;
        text-align: center;
    }
}
/* FOOTER */
footer {
    background-color: #f1f1f1;
    padding: 15px 30px;
}
.row {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.row p {
    font-weight: 600;
}
.row a {
    color: #000;
    text-decoration: none;
}
.row a:hover {
    text-decoration: underline;
}
/* ICONS STYLING */
.container1 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 2rem;
    margin: 10px;
}
.container2 {
    padding: 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #b0b0b0;
}
.icons {
    padding: 10px;
    border-radius: 100%;
    color: #fff;
    background-color: #b0b0b0;
}
.icons:hover {
    background-color: #3b3b3b;
}