@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
body {
    background-color: #262626;
}
/* HEADER */
.navbar, .navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 20px;
    gap: 1rem;
}
.navbar ul li a {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}
.navbar ul li a:hover {
    border-bottom: 2.5px solid #b33d3d;
    color: #b33d3d;
    padding-bottom: 2.5rem;
}
.navbar {
    border-bottom: 1px solid #333;
    background-color: #333;
}
.navbar span, .navbar i {
    color: #b33d3d;
    cursor: default;
}
.mid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mid .left, .mid .right {
    padding: 20px;
}
.mid .right strong {
    color: #b33d3d;
}
.mid .right p, strong, h2 {
    cursor: default;
}
.mid a {
    text-decoration: none;
    padding: 10px 40px;
    background: linear-gradient(to right, #8f1515, #b33d3d);
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid #b33d3d;
    border-radius: 10px;
}
.mid a:hover {
    background: none;
    border: 1px solid #b33d3d;
}
.mid img {
    border-radius: 30px;
    width: 35%
}
/* MAIN */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}